$gray-medium-light: #eaeaea;
$light-gray: #777;
$gray:#555;
$gray-darker:#222;
$white: #fff;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
$red:red;
$white_light: #e8e8e8;
$blue: blue;
$gray-color: gray;
